/* Homepage CSS */
.body-container {
    margin-bottom: 34.375rem;
    margin-top: -2.2rem;
    display: flex;
    background-color:#FFF8EC;
    width: 100%;
    height: 25rem;
    position: relative;
    background: url("/public/Banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-container {
    margin-bottom: 18.75rem;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 19rem;
    background-color: white;
    z-index: 20;
    top: 20rem;
}

.title{
    background-color: #fbf8f1;
    color: black;
    font-size: 3.438rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 100%;
    padding: 2.188rem;
    margin-left: 0rem;
}

.description-box {
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    width: 100%;
}

/* Homepage board hand picture*/
.image-content {
    background: url("/public/picture1.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 88%;
    margin-left: 2rem;
}

/* What's ePortfolio Page CSS */

.section-title {
    font-size: 2.813rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.bulleted-list-box {
    background-color: #FFF8EC;
    margin-top: 7rem;
    width: 40vw;
    height: 72vh;
    padding: 1rem;
    margin-left: 2rem;
    margin-bottom: 8rem;
}

.bulleted-list-box1 {
    background-color: #FFF8EC;
    display: flex;
    flex-flow: column;
    width: 40vw;
    height: 70vh;
    padding: 2rem;
    margin-bottom: 8rem;
}

.bulleted-list-box2 {
    background-color: #FFF8EC;
    display: flex;
    flex-flow: column;
    width: 38vw;
    height: 80vh;
    padding: 2rem;
}

.bulleted-list-box3 {
    display: flex;
    flex-flow: column;
    justify-content: left;
    width: calc(100% - 4rem);
}

.bulleted-list-box4 {
    display: flex;
    flex-flow: column;
    margin-top: 2rem;
    width: calc(100% - 8rem);
}

/* Tips Bulletted list */
.bulleted-list {
    text-indent: -2rem;
    padding-left: 1rem;
    line-height: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(16px + 0.5vw);
    margin-left: 3rem;
}

.portfolio-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.188rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* What's ePortfolio Image */
.portfolio-image {
    background: url("/public/picture2.2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 42vw;
    height: 58vh;
    margin-bottom: 4rem;
    margin-left:2rem;
    margin-top: 2rem;
}

.page-content {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    margin-left: 2rem;
}

.page-content1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.page-content2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.page-content3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

 .page-content4{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    margin-left: 2rem;
 }

 .page-content5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    margin-left: 2rem;
}
.page-content6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    text-align: left;
    margin-left: 2rem;
}
.page-content7 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    margin-left: 2rem;
}
.page-content8 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    margin-left: 2rem;
}
.page-content9 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    margin-left: 2rem;
}
 .page-content10 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    margin-left: 2rem;
}

.page-content11 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    margin-left: 2rem;
}
 .page-content12 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    margin-left: 2rem;
}
.page-content13 {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(16px + 0.5vw);
    text-align: left;
}

.page-content14 {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(16px + 0.5vw);
    text-align: left;
}

.page-content15 {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(16px + 0.5vw);
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.page-content16 {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(16px + 0.5vw);
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.page-content18 {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(16px + 0.5vw);
    margin-left: 2rem;
    margin-bottom: 2rem;
}
.page-content19 {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(16px + 0.5vw);
    margin-left: 2rem;
    margin-bottom: 2rem;
}
.page-content20 {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(16px + 0.5vw);
    margin-left: 2rem;
}

.ux-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    margin-top: 5rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}
/*Software Engineer Content*/
.engineer-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}
.page-content21 {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(16px + 0.5vw);
    margin-left: 2rem;
    margin-bottom: 2rem;
}
.page-content22 {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(16px + 0.5vw);
    margin-left: 2rem;
}

/*Quality Assurance Tester Content*/
.qat-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}
.page-content23 {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(16px + 0.5vw);
    margin-left: 2rem;
    margin-bottom: 2rem;
}
.page-content24 {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(16px + 0.5vw);
    margin-left: 2rem;
}

.page-title1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.page-title2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.page-title3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.page-title4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.page-title5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.page-title6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.page-title7 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.page-title8 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

 .title-build {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.188rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
 }

 .title-examples {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.188rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
 }

.form-embed {
    display: flex;
    justify-content: center;
}

/* How to build portfolio image */
.portfolio-image1 {
    background: url("/public/HowToBuild.jpg");
    margin-top: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
    width: 44vw;
    height: 58vh;
    margin-bottom: 4rem;
}

.portfolio-image2 {
    background: url("/public/ExamplesPicture2.jpg");
    margin-top: 7rem;
    background-size: contain;
    background-repeat: no-repeat;
    width: 42vw;
    height: 58vh;
    margin-bottom: 4rem;
    margin-left: 2rem;
    margin-top: 4rem;
}

/* Examples Pages*/

.portfolio-anna1 {
    background: url("/public/Anna_example3.JPG");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40vw;
    height: 58vh;
    margin-bottom: 4rem;
    margin-left: 2rem;
   
}

.portfolio-anna2 {
    background: url("/public/Anna_example1.JPG");
    background-size: contain;
    background-repeat: no-repeat;
    width: 46vw;
    height: 126vh;
    margin-bottom: 4rem;
    margin-top: -4rem;
    margin-left: 1rem;
}

.portfolio-anna3 {
    background: url("/public/Anna_example2.JPG");
    background-size: contain;
    background-repeat: no-repeat;
    width: 46vw;
    height: 84vh;
    margin-bottom: 4rem;
    
}

.portfolio-jm {
    background: url("/public/portfoliojm.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40vw;
    height: 58vh;
    margin-bottom: 4rem;
    margin-top: 11rem;
}
.portfolio-jm1 {
    background: url("/public/portfoliojm1.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40vw;
    height: 58vh;
    margin-bottom: 4rem;
}
.portfolio-jm2 {
    background: url("/public/portfoliojm2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40vw;
    height: 67vh;
    margin-bottom: 4rem;
}

.portfolio-ba {
    background: url("/public/ePortfolio-main.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40vw;
    height: 58vh;
    margin-bottom: 4rem;
}

.portfolio-ba1 {
    background: url("/public/Principles-of-Design-White-2560px.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40vw;
    height: 58vh;
    margin-bottom: 4rem;
}

.portfolio-ba2 {
    background: url("/public/resume-1799954_960_720.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40vw;
    height: 85vh;
    margin-bottom: 4rem;
}

.portfolio-DS1 {
    background: url("/public/portfolioDS1.JPG");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40vw;
    height: 58vh;
    margin-bottom: 4rem;
}

.portfolio-DS2 {
    background: url("/public/portfolioDS2.JPG");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40vw;
    height: 100vh;
}

.section-title2 {
    font-size: 2.813rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration:solid;
    text-align:center;
    margin-bottom: 4rem;
    margin-top: 4rem;    
}

.section-title3 {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration:solid;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;

}

/* Our Team page*/
.section-title4 {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration:solid;
    margin-bottom: 2rem;
    margin-left: 2rem;   
}

.portrait-container {
    width: 100%;
    align-items: center;
    display: grid;
    justify-content: center;
}

.name1{
    font-size: 2.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration:solid;
    text-align:center;
    margin-top: 1rem;
}

.name2{
    font-size: 2.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration:solid;
    text-align:center;
    margin-top: 1rem;
}

.name3{
    font-size: 2.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration:solid;
    text-align:center;
    margin-top: 1rem;
}

.name4{
    font-size: 2.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration:solid;
    text-align:center;
    margin-top: 1rem;
}

.portrait-image-box {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    justify-content: center;
    height: 26rem;
    padding-bottom: 6rem;
    gap: 1rem;
}

.portrait-image {
    background: grey;
    width: 21.875rem;
    height: 24.063rem;
    display: inline-flex;
}

.portrait-image1{
    background: url("/public/anna.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.portrait-image2{
    background: url("/public/brandin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.portrait-image3{
    background: url("/public/jorge.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.portrait-image4{
    background: url("/public/dante.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.examples-body {
    display: grid;
}

.examples-bottom-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.examples-left-container {
    height: calc(100% + 10rem);
}

.examples-right-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 42rem);
    margin-left: 2rem;
    margin-right: 2rem;
    height: calc(100% + 10rem);
    text-align: -webkit-center;
    text-align: center;
}

.examples-content {
    display: grid;
    width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
}

.home-content-container {
    width: 97%;
    display: grid;
    grid-template-columns: 32rem auto;
    grid-template-rows: 100vw;
}

.how-to-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.how-to-left {
    width: 90%;
    height: calc(100% + 10rem);
}

.how-to-right {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.what-eportfolio-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.portfolio-left-container {
    width: 100%;
    height: calc(100% + 8rem);
}

.portfolio-right-container {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.portrait-img-container1 {
    margin-bottom: 10rem;
}

.portrait-img-container2 {
    margin-bottom: 10rem;
}

.portrait-img-container3 {
    margin-bottom: 10rem;
}

.portrait-img-container4 {
    margin-bottom: 10rem;
}


.iconS{
    margin-left: 89rem;
    margin-top: -7.2rem;
}
