.search-container {
    display: flex;
    position: absolute;
    right: 2rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.5rem;
    bottom: 0.0625rem;
    background-color: white;
}

.search-input {
    display: flex;
    align-items: center;
    padding: 0.125rem;
}

.search-input input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
}

.search-input input:focus {
    outline: none;
}

.search-icon {
    background-color: white;
    display: flex;
    margin-right: 0.25rem;
    cursor: pointer;
}