.navbar-container {
    width: 100%;
    display: flex;
    position: sticky;
    justify-content: flex-start;
    z-index: 99;
    height: 2.1rem;
    margin-bottom: 3rem;
   
}

.tab-container {
    display: flex;
    flex-flow: wrap;
    margin: 0.5rem;
    padding: 0.1rem 1.5rem;
    gap: 3rem;
    font-family: 'Montserrat', sans-serif;
   
 
}

.tab {
    cursor: pointer;
}

.tab:hover {
    background: rgba(185, 158, 138, 0.4);
    transition: linear ease-in 0.2s;
    border-radius: 0.5rem;

}
