.button {
    display: flex;
    position: absolute;
    right: 50px;
    top: 50px;
    flex-flow: wrap;
    gap: 10px;
    cursor: pointer;
}

.button-icon {
    font-size: 28px;
}

.button-text {
    font-size: 22px;
}

.button:hover {
    background: rgba(185, 158, 138, 0.4);
    transition: linear ease-in 0.2s;
    border-radius: 0.5rem;
}