.header-container {
    width: 100%;
    height: 22vh;
    display: flex;
    margin-left: 1rem;
}

.logo-container {
    width: 18rem;
    height: auto;
    display: flex;
    cursor: pointer;
}

.logo2 {
    width: 100%;
    background-image: url("/public/logo2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}