.footer-container {
    position:fixed;
    bottom: 0px;
    margin-bottom: 0rem;
    width: 100%;
    height: 5rem;
    background-color:#E9CCB7;
    z-index: 20;
}

.copyright-container {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    padding: 2rem;
}