html {
  height: 100vh;
  width: 100vw;
  font-size: 16px;
}

body {
  font-size: 16px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
}

.App {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 20;
}

img {
  max-width: 100%;
}

ul, li {
  list-style-position: inside;
}